<?xml version="1.0"?>
<launch>
  <!-- gazebo related args -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- robot URDF parse args -->
  <arg name="om_urdf" value="robot_description"/>
  <arg name="urdf_param" default="/robot_description"/>
  <param name="$(arg om_urdf)" textfile="$(find kair_algorithms)/urdf/open_manipulator_cam.urdf.xacro"/>
  <arg name="load_robot_description" default="false"/>

  <!-- gazebo related -->
  <rosparam file="$(find open_manipulator_gazebo)/config/gazebo_controller.yaml" command="load" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find open_manipulator_gazebo)/worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!--KDL chain related args-->
  <param if="$(arg load_robot_description)" name="$(arg urdf_param)" command="$(find xacro)/xacro --inorder $(find kair_algorithms)/urdf/om.urdf"/>

  <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find kair_algorithms)/urdf/open_manipulator_cam.urdf.xacro'"/>


  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
     args="-urdf -model open_manipulator -z 0.0 -param robot_description"/>

  <!-- ros_control robotis manipulator launch file -->
    <include file="$(find open_manipulator_gazebo)/launch/open_manipulator_controller.launch"/>   
</launch>
